
.agree-list {
    margin: 20px 0;
}
.agreement {
    text-align: left;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
    @include font-family-normal();
    font-weight: 400;
    color: rgba(255,255,255,1);
    .link {
        text-decoration: underline;
    }
    &.active {
        &::before {
            background: url('~assets/imgs/agree.svg');
            background-size: 100% 100%;
        }
    }
    &:before {
        display: inline-block;
        content: ' ';
        width: 14px;
        height: 14px;
        margin-bottom: -2px;
        margin-right: 6px;
        background: url('~assets/imgs/unagree.svg');
        background-size: 100% 100%;
    }
}