@import "~assets/scss/vars.scss";

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999; 
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #999; 
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999; 
}

body {
    padding: 0px;
    margin: 0px;
    -webkit-overflow-scrolling: touch;
    font-family: $font-normal, arial, sans-serif;
    letter-spacing: 0;
}

ul {
    margin: 0;
    padding: 0;
}
ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}
i{
    font-style: normal;
}
input, textarea {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    &:active {
        border: none;
    }
}
textarea {
    background-color: transparent;
    height: auto;
}

.__title {
    font-family: $font-bold, arial, sans-serif;
    font-size: 26px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    padding: 0 0 30px;
}

.__btn {
    display: block;
    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
}

.__btn_all_in {
    background: #007AFF;
    color: #FFFFFF;
    border-radius: 3px;
    font-family: $font-bold, arial, sans-serif;
}

.__btn_border {
    border-radius: 2px;
    background: #fff;
    color: #195ADD;
    font-family: $font-bold, arial, sans-serif;
}

.__btn_input {
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    text-align: left;
    font-family: $font-normal, arial, sans-serif;
    padding: 0 16px;
    input {
        width: 100%;
        height: 100%;
        font-size: 16px;
    }
}

.__btn_link {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: $font-bold, arial, sans-serif;
}

.__ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.__pointer {
    cursor: pointer;
}

.__err_msg {
    background: rgba(255,41,41, 0.08);
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 12px;
    color: #FF2929;
}

.__btn_list {
    .__btn {
        display: inline-block;
        width: 167px;
        &:first-child {
            float: left;
        }
        &:last-child {
            float: right;
        }
    }
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

@media only screen and (max-width: 500px) {
    .__btn_list .__btn {
        width: 48%;
    }
}
