@import "~assets/scss/vars.scss";

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(94,104,117,0.3);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(94,104,117,0.3);
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(94,104,117,0.3);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(94,104,117,0.3);
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    -webkit-overflow-scrolling: touch;
    @include font-family-normal();
    letter-spacing: 0;
}

ul {
    margin: 0;
    padding: 0;
}
ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}
i {
    font-style: normal;
}
input, textarea {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    &:active {
        border: none;
    }
}
textarea {
    background-color: transparent;
    height: auto;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}
.__ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.__pointer {
    cursor: pointer;
    user-select: none;
}

@font-face {
    font-family: "DINPro";
    src: url("~assets/font/DINPro.otf");
    font-weight: normal;
    font-style: normal;
}

@mixin page_bg_color() {
    [data-theme="0"] & {
        background-color: $white-color;
    }
    [data-theme="1"] & {
        background-color: $black-color-3;
    }
}

@mixin bg_color_1() {
    [data-theme="0"] & {
        background-color: $white-color;
    }
    [data-theme="1"] & {
        background-color: $black-color-2;
    }
}

@mixin hover_color() {
    [data-theme="0"] & {
        background-color: $hover-color-1;
    }
    [data-theme="1"] & {
        background-color: $hover-color-2;
    }
}

@mixin second_title_font_color() {
    [data-theme="0"] & {
        color: $gray-color-1;
    }
    [data-theme="1"] & {
        color: $gray-color-2;
    }
}
