@import "~assets/scss/vars.scss";

@mixin placeholder_color() {
    [data-theme="0"] & {
        color: rgba(94,104,117,0.3);
    }
    [data-theme="1"] & {
        color: #545F75;
    }
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    @include placeholder_color();
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    @include placeholder_color();
}
::-webkit-input-placeholder { /* WebKit browsers */
    @include placeholder_color();
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    @include placeholder_color();
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    -webkit-overflow-scrolling: touch;
    @include font-family-normal();
    letter-spacing: 0;
}

ul {
    margin: 0;
    padding: 0;
}
ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}
i {
    font-style: normal;
}
input, textarea {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    &:active {
        border: none;
    }
}
textarea {
    background-color: transparent;
    height: auto;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}
.__ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.__pointer {
    cursor: pointer;
    user-select: none;
}

@font-face {
    font-family: "DINPro";
    src: url("~assets/font/DINPro.otf");
    font-weight: normal;
    font-style: normal;
}
