$font-bold: PingFangSC-Semibold, arial, sans-serif;
$font-normal: PingFangSC-Regular, arial, sans-serif;
$font-normal-b: Avenir-Book, arial, sans-serif;
$font-H: DINPro, arial, sans-serif;

@mixin font-family($font) {
    font-family: $font, arial, sans-serif;
}

@mixin font-family-normal() {
    font-family: $font-normal;
    font-weight: 400;
}

@mixin font-family-bold() {
    font-family: $font-bold;
    font-weight: 600;
}

$black-color-1: #0F162D;
$black-color-2: #151C32;
$black-color-3: #01081F;
$black-color-4: #1E2745;
$black-color-5: #1d2024;

$white-color: #fff;

$blue-color-1: #007AFF;
$blue-color-2: #4B74FF;
$blue-color-3: rgba(38,142,255,1);

$red-color: #E5494D;

$green-color: #00D764;

$gray-color-1: #bdc1d1;
$gray-color-2: #545F75;
$gray-color-3: #73767A;
$gray-color-4: rgba(94,104,117,1);

$hover-color-1: rgba(75, 116, 255, 0.1);
$hover-color-2: $black-color-4;