{
    "presets": [["@babel/preset-env",{"module":false}]],
    "plugins": [
        ["@babel/plugin-transform-runtime", {
            "corejs": false,
            "helpers": false,
            "regenerator": true,
            "useESModules": false
        }]
    ]
}