.DS_Store
node_modules
dist
distH5
distAPP
static
!staticPages/**/static
.eslintcache
.idea
.vscode
viteJS
routes.js
.netlify
.yarnrc
package-lock.json
secret.js
static.tar
h5Static.tar
upload.sh
deploy.sh
backup.sh
rollback.sh
yarn-error.log
test_accountBlock.json
test_responseblock.json