@import "~assets/scss/vars.scss";

.staking-detail {
    @include background_common_img("mint_pledge_bg.png");
    display: flex;
    .item {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 25%;
        padding: 12px 30px;
        font-size: 12px;
        @include font-family-normal();
        @include font_color_2();
        [data-theme="0"] & {
            border-right: 1px solid rgba(227, 235, 245, 0.6);
        }
        [data-theme="1"] & {
            border-right: 1px solid $black-color-4;
        }
        &.no-border {
            border-right: none;
        }
        .bold {
            @include font-family-bold();
            @include font_color_1();
            font-size: 16px;
        }
        .light {
            [data-theme="0"] & {
                color: rgba(94, 104, 117, 0.58)
            }
            [data-theme="1"] & {
                color: $gray-color-2;
            }
        }
    }
    .operations {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100px;
        height: 30px;
        box-sizing: border-box;
        border-radius: 2px;
        font-size: 12px;
        @include font-family-bold();
        font-weight: 600;
        line-height: 16px;
        &.add {
            color: #fff;
            background: $blue-color-1;
            margin-right: 13px;
            margin-bottom: -1px;
        }
        &.cancel {
            color: $blue-color-1;
            border: 1px solid $blue-color-1;
            margin-right: 30px;
        }
        &.unuse {
            margin-right: 30px;
            color: rgba(94, 104, 117, 0.3);
            border: 1px solid rgba(198,203,212,0.3);
            cursor: not-allowed;
        }
    }
}