.mintage-table {
    overflow: auto;

    @include rowWith {
        &:first-child {
            width: 240px;
        }
        &:nth-child(2) {
            width: 120px;
        }
        &:nth-child(3) {
            width: 100px;
        }
        &:nth-child(4) {
            width: 150px;
        }
        &:nth-child(5) {
            width: 65px;
        }
        &:nth-child(6) {
            width: 65px;
        }
        &:nth-child(7) {
            width: 150px;
        }
        &:nth-child(8) {
            width: 155px;
        }
        &:last-child {
            width: 360px;
        }
    }
}