$black-color-1: #0F162D;
$black-color-2: #151C32;
$black-color-3: #01081F;
$black-color-4: #1E2745;

$white-color: #fff;

$blue-color-1: #007AFF;
$blue-color-2: #4B74FF;

$red-color: #E5494D;

$green-color: #00D764;

$gray-color-1: #545F75;
