@import "~assets/scss/vars.scss";

$blue: #007AFF;
$red: #E5494D;
$green: #00D764;
$down-font-color: $red;
$up-font-color: $green;

.down {
    color: $down-font-color;
}
.up {
    color: $up-font-color
}
.buy {
    color: $green;
}
.sell {
    color: $red;
}

.ex-tab-list {
    display: flex;
    padding-top: 4px;
    width: 100%;
    background: rgba(243,245,249,1);
    padding: 4px 0 0px 0;
    .ex-tab {
        display: inline-block;
        line-height: 17px;
        padding-bottom: 3px;
        font-size: 13px;
        color: rgba(29,32,36,0.6);
        @include font-family-bold();
        margin-top: 6px;

        span {
            border-left: 1px solid rgba(205,204,204,1);
            padding: 0px 6px;
        }
        &:first-child span {
            border: none;
        }
        &.active-side span {
            border: none;
        }
        &.active {
            margin-top: 0;
            padding-top: 6px;
            background: #fff;
            line-height: 17px;
            border-radius: 4px 4px 0px 0px;
            span {
                border: none;
            }
        }

        .favorite-icon {
            display: inline-block;
            width: 10px;
            height: 10px;
            background: url('~assets/imgs/trade/favorite-tab.svg') no-repeat center;
            &.active {
                background: url('~assets/imgs/trade/favorite-active.svg') no-repeat center;
            }
        }
    }
}

.__center-title {
    padding: 6px;
    line-height: 17px;
    font-size: 13px;
    @include font-family-bold();
    font-weight: 600;
    color: rgba(29,32,36,0.6);
    background: #f7f9fb;
}

.__center-tb-title {
    display: flex;
    flex-direction: row;
    padding: 0 6px;
    height: 27px;
    line-height: 27px;
    border-bottom: 1px solid rgba(212,222,231,0.5);
    font-size: 12px;
    font-weight: 400;
    color: rgba(94,104,117,0.58);;
}
.__center-tb-row {
    position: relative;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 400;
    font-family: $font-H;
    color: rgba(94,104,117,1);
    &:hover {
        background: rgba(75, 116, 255, 0.1);    
    }
}
.__center-tb-item {
    position: relative;
    text-align: right;
    flex: 1;
    padding: 0 2px;
    overflow: hidden;
    white-space: nowrap;
    &:first-child {
        text-align: left;
    }
    &.left {
        text-align: left;
    }

    &.tx-pair {
        min-width: 95px;
    }
    &.depth {
        flex: none;
        &.price {
            flex: 1;
        }
        &.quantity {
            width: 85px;
        }
        &.amount {
            flex: 1;
            box-sizing: border-box;
        }
    }

    .favorite-icon {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 10px;
        height: 100%;
        background: url('~assets/imgs/trade/favorite.svg') no-repeat center left;
        &.active {
            background: url('~assets/imgs/trade/favorite-active.svg') no-repeat center left;
        }
    }
    .describe {
        position: relative;
        left: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.__ex-loading-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
}
