@use "@assets/scss/theme.scss" as *;

@mixin secondTitle {
    .__second-title {
        font-size: 14px;
        line-height: 18px;
        @include font-family-bold();
        @include common_font_color();
    }
}

@mixin tradeBtn {
    .__trade-btn {
        @include box_shadow();
        line-height: 30px;
        text-align: center;
        width: 125px;
        height: 30px;
        display: inline-block;
        box-sizing: border-box;
        padding: 0 5px;
        margin-right: 11px;
        color: #fff;
        // background-color: $blue-color-1;
        @include primary_bg_color();
        border-radius: 2px;
        font-size: 12px;
        &__cancel {
            @include bg_color_4();
            // color: $blue-color-1;
            @include primary_color();
        }
    }
}
