@import "~assets/scss/vars.scss";

.__second-title {
    font-size: 14px;
    @include font-family-bold();
    [data-theme="0"] & {
        color: rgba(29,32,36,1);
    }
    [data-theme="1"] & {
        color: $white-color;
    }
    
    line-height: 18px;
}
