@import "pcComponents/confirm/confirmRow.scss";

.__hint /deep/ .strong {
    @include font-family-bold();
    [data-theme="0"] & {
        color: #1d2024;
    }
    [data-theme="1"] & {
        color: $white-color;
    }
}

.bg-img {
    display: inline-block;
    height: 140px;
    width: 140px;
    margin: 0 auto 29px;
    @include background_common_img('invite.png')
}

.invite-code {
    height: 56px;
    border-radius: 2px;
    border: 1px dashed rgba(0, 122, 255, 0.7);
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    @include font_color_1();
    @include font-family-bold();
    justify-content: center;
    .copy {
        position: absolute;
        right: 15px;
        width: 20px;
        height: 20px;
        &-share {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 47px;
        }
    }
}
.invite-info {
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    height: 56px;
    margin-top: 23px;
    .item {
        background: rgba(0, 122, 255, 0.05);
        padding: 9px 15px;
        display: flex;
        align-items: center;
        width: calc(50% - 10px);
        box-sizing: border-box;
        .left {
            height: 24px;
            width: 24px;
            margin-right: 15px;
        }
        .right {
            display: flex;
            flex-direction: column;
            .label {
                color: #5e6875;
                font-size: 12px;
            }
            .content {
                @include font_color_1();
                font-size: 14px;
                @include font-family-bold();
            }
        }
    }
}