@import "assets/scss/vars.scss";

@mixin rowWith () {
    .head-row>div,
    .row>div {
        @content
    }
}

.ex_tb {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    border-radius: 2px;
    background: #fff;
    font-size: 12px;
    box-shadow: 0px 2px 10px 1px rgba(176,192,237,0.42);

    .head-row {
        height: 34px;
        width: 100%;
        box-sizing: border-box;
        flex: none;
        font-family: $font-normal, arial, sans-serif;
        color: rgba(94,104,117,0.58);
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(212,222,231,1); 

        >div {
            justify-content: flex-start;
            display: flex;
            margin: 0 4px;
            align-items: center;
            &:last-child {
                justify-content: flex-end;
                margin: 0 20px 0 4px;
            }
            .sort-btn {
                background: url(~assets/imgs/trade/ascend.png), url(~assets/imgs/trade/decend.png) 0 8px;
                background-size: contain;
                background-repeat: no-repeat;
                width: 16px;
                margin-left: 2px;
                height: 16px;
                cursor: pointer;
            }
        }
    }

    .row-container {
        flex: 1;
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
    }

    .row {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
        height: 32px;
        color: #5E6875;
        line-height: 32px;
        border-bottom: 1px solid rgba(198,203,212,0.3);;
        display: flex;
        width: 100%;
        justify-content: space-between;
        &:last-child {
            border-bottom: none;
        }
        .click-able {
            cursor: pointer;
            color: #007AFF;
        }
        >div {
            display: flex;
            margin: 0 4px;
            align-items: center;
            justify-content: flex-start;
            &:last-child {
                justify-content: flex-end;
                margin: 0 20px 0 4px;
            }
        }
    }

    .no-data {
        width: 100%;
        position: absolute;
        top: 50%;
        margin-top: -48px;
        font-size: 12px;
        font-family: $font-normal, arial, sans-serif;
        font-weight: 400;
        color: rgba(94,104,117,0.58);
        line-height: 16px;
        text-align: center;
        &:before {
            display: inline-block;
            margin-bottom: 16px;
            content: ' ';
            width: 60px;
            height: 60px;
            background: url('~assets/imgs/dexEmpty.svg') 100% 100%;
        }
    }
}