@import "../center.scss";

$font-black: rgba(36,39,43,1);

.order-title {
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    font-family: $font-bold, arial, sans-serif;
    font-weight: 600;
    color: $font-black;
    text-indent: 6px;
    border-left: 2px solid $blue;
    .wallet {
        display: block;
        float: right;
        &:before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url('~assets/imgs/ex-wallet-icon.svg');
            background-size: 100% 100%;
            margin-bottom: -4px;
        }
    }
}

.ex-order-token {
    font-size: 12px;
    font-family: $font-normal, arial, sans-serif;
    font-weight:400;
    color:rgba(94,104,117,1);
}

.order-row-title {
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    font-family: $font-normal, arial, sans-serif;
    font-weight: 400;
    color: $font-black;
    margin-top: 5px;
    .amount-percent {
        display: block;
        float: right;
        font-size: 11px;
        li {
            display: inline-block;
            box-sizing: border-box;
            border: 1px solid $blue;
            color: $blue;
            height: 16px;
            line-height: 16px;
            border-radius: 2px;
            &.active {
                background: $blue;
                color: #fff;
            }
        }
    }
}

.order-input {
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    input {
        text-indent: 6px;
    }
    .ex-order-token {
        padding: 0 6px;
    }
}

.order-btn {
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 16px;
    border-radius: 2px;
    font-size: 14px;
    font-family: $font-bold, arial, sans-serif;
    font-weight: 600;
    color: #fff;
}