@import "~assets/scss/vars.scss";

$blue: #007AFF;
$red: #E5494D;
$green: #5BC500;
$down-font-color: $red;
$up-font-color: $green;

.down {
    color: $down-font-color;
}
.up {
    color: $up-font-color
}
.buy {
    color: $green;
}
.sell {
    color: $red;
}

.ex-tab-list {
    box-sizing: border-box;
    padding: 10px 6px 0;
    width: 100%;
    height: 34px;
    border-bottom: 1px solid $blue;
    .ex-tab {
        display: inline-block;
        padding: 4px 13px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: rgba(29,32,36,1);
        &.active {
            background: $blue;
            border-radius: 4px 4px 0px 0px;
            color: rgba(255,255,255,1);
        }
    }
}

.__center-title {
    height: 28px;
    line-height: 28px;
    padding: 0 6px;
    border-bottom: 1px solid rgba(212,222,231,1);
    font-size: 14px;
    font-family: $font-bold, arial, sans-serif;
    font-weight: 600;
    color: rgba(36,39,43,1);
}

.__center-tb-title {
    display: flex;
    flex-direction: row;
    padding: 0 6px;
    height: 27px;
    line-height: 27px;
    border-bottom: 1px solid rgba(212,222,231,0.5);
    font-size: 12px;
    font-weight: 400;
    color: rgba(94,104,117,1);
}
.__center-tb-row {
    position: relative;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 400;
    color: rgba(94,104,117,1);
}
.__center-tb-item {
    text-align: right;
    flex: 1;
    &:first-child {
        text-align: left;
    }
    &.txPair {
        flex-basis: 50px;
    }
}

.__ex-loading-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
}

.favorite-icon {
    display: inline-block;
    width: 13px;
    height: 100%;
    background: url('~assets/imgs/favorite_default.svg') no-repeat center left;
    &.active {
        background: url('~assets/imgs/favorite.svg') no-repeat center left;
    }
}
