@import "~assets/scss/vars.scss";

.name {
    font-family: $font-bold, arial, sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 20px;
}
.address {
    width: 100%;
    font-family: $font-normal-b, arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #333;
}