@import "~assets/scss/vars.scss";

.big-title {
    font-size: 14px;
    @include font-family-bold();
    font-weight: 600;
    color: #1D2024;
    margin-bottom: 12px;
    margin-top: 20px;
    line-height: 16px;
}

.small-title {
    font-size: 12px;
    color: #5e6875;
    letter-spacing: 0.3px;
    line-height: 16px;
    margin: 10px 0;
    &.bold {
        @include font-family-bold();
    }
}