.dialog-aQQq411q- {
    max-height: 60%;
}
.picker-1hzUXDA1- {
    position: unset;
    width: 0;
}
.loading-indicator {
    background: #151C32;
}
html.theme-dark .chart-page {
    background: #151C32;
}
html.theme-dark .chart-page .chart-container {
    border-color: #1E2745;
}
html.theme-dark .group-wWM3zP_M- {
    background: #151C32;
}
html.theme-dark .button-13wlLwhJ- {
    color: #C0C6D3;
}
html.theme-dark .button-2ioYhFEY-.isInteractive-20uLObIc- {
    color: #C0C6D3;
}
html.theme-dark .button-2ioYhFEY-.isInteractive-20uLObIc-.hovered-3perbaxJ-, .feature-no-touch .button-2ioYhFEY-.isInteractive-20uLObIc-:active, .feature-no-touch .button-2ioYhFEY-.isInteractive-20uLObIc-:hover, .feature-touch .button-2ioYhFEY-.isInteractive-20uLObIc-:active {
    color: #fff;
}
html.theme-dark .customButton--jqJTfH5- {
    color: #C0C6D3;
}
html.theme-dark .button-2ioYhFEY- {
    color: #fff;
}