.mint-trade-table {
    @include rowWith {
        min-width: 20%;
    
        &:first-child {
            margin-left: 30px;
        }
        &:last-child {
            margin-right: 30px;
            text-align: right;
        }
    }
}