.order-tab .trade-history-table {
    @include rowWith {
        &:first-child {
            padding-left: 0; 
        }
        &:last-child {
            padding-right: 10px; 
        }
    }
}

.trade-history-table {
    width: 100%;
    height: 100%;
    overflow: auto;
    @include rowWith {
        width: 7%;
    
        &:first-child {
            width: 160px;
        }
        &:nth-child(2) {
            width: 17%;
        }
        &:nth-child(3) {
            width: 40px;
        }
    
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(8),
        &:nth-child(9) {
            width: 13%;
        }
    }
    
    .buy {
        color: #5bc500;
    }
    .sell {
        color: #ff0008;
    }
}