.vip-list-table {
    width: 100%;
    min-width: 0;
    min-height: 300px;
    flex: 1;
    @include rowWith {
        width: 20%;
        &:first-child {
            width: 300px;
        }
        &:nth-child(2) {
            width: 100px;
        }
        &:nth-child(4) {
            width: 200px;
        }
    }
}
