// @mixin colWidth {
//     padding:7px;
//   &:first-child {
//     min-width: 80px;
//     width: 11%;
//     padding-left: 30px;
//   }
//   &:nth-child(2),
//   &:nth-child(6) {
//     min-width: 100px;
//     width: 20%;
//   }
//   &:nth-child(4) {
//     min-width: 120px;
//     flex-grow: 1;
//     width: 25%;
//   }
//   &:nth-child(3),
//   &:nth-child(5),
//   &:nth-child(7) {
//     min-width: 110px;
//     width: 15%;
//   }
// }
@mixin colWidth {
    padding:7px;
  &:first-child {
    min-width: 80px;
    width: 11%;
    padding-left: 30px;
  }
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    min-width: 100px;
    width: 30%;
  }
}
