@import "~assets/scss/vars.scss";

.big-title {
    font-size: 14px;
    @include font-family-bold();
    font-weight: 600;
    [data-theme="0"] & {
        color: #1D2024;
    }
    [data-theme="1"] & {
        color: $white-color;
    }
    margin-bottom: 12px;
    margin-top: 20px;
    line-height: 16px;
}

.small-title {
    font-size: 12px;
    [data-theme="0"] & {
        color: #5e6875;
    }
    [data-theme="1"] & {
        color: #545F75;
    }
    letter-spacing: 0.3px;
    line-height: 16px;
    margin: 10px 0;
    &.bold {
        @include font-family-bold();
    }
}