.defi-assets-table {
    .token-icon {
        width: 16px;
        height: 16px;
    }
    .token-symbol {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: 18px;
        margin-left: 15px;
        & > div {
            &:first-child {
                @include font-family-bold();
                color: #5E6875;
            }
        }
    }
    .assets-value {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 18px;
        height: 100%;
        & > div {
            &:first-child {
                @include font-family-bold();
                color: #5E6875;
            }
            &:nth-child(2) {
                color: rgba(94,104,117,0.58);
            }
        }
    }
}