# This is a basic workflow to help you get started with Actions

name: Deploy To Cloudflare [manual]

# Controls when the action will run. 
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose an environment to deploy to: <test|stage|production>'
        required: true
        default: 'test'
      branch:
        description: 'Choose an branch to deploy'
        required: true
        default: 'master' 

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    environment: cf-worker

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Setup Node
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '10.x'
          
      - uses: bahmutov/npm-install@v1

      # Runs a single command using the runners shell
      - name: Install JS dependencies
        run:  yarn install

      # Runs a set of commands using the runners shell
      - name: Build
        run: yarn run build:${{ github.event.inputs.environment }}
          
      - name: Deploy
        uses: cloudflare/wrangler-action@1.2.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          environment: ${{ github.event.inputs.environment }}
